################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab 8/FileContentIndex/c4365838-f7ca-4f6e-ac34-2288989f1de3.vsidx
/.vs/Lab 8/FileContentIndex/81c83484-0507-46e8-8f13-9fbee698ac60.vsidx
